/.project
/runtime/*
/web/assets/*
/web/uploads/avatar/*
/web/uploads/task/*
/web/uploads/share/*
/web/uploads/equipment/*
!/runtime/blank.html
!/web/assets/blank.html
!/web/uploads/avatar/default_avatar.png
!/web/uploads/share/default_share_nophoto.jpg
!/web/uploads/task/blank.html
!/web/uploads/equipment/blank.html
